[Unit]
Description=ASF Jira to PubSub Service

[Service]
Type=simple
WorkingDirectory=/opt/jira-to-pubsub
ExecStart=/usr/local/bin/pipenv run python3 jira_to_pubsub.py
Restart=always
User=www-data
Group=www-data

[Install]
WantedBy=multi-user.target
